



body {
	background-color: black;
	overflow: hidden;
}

#game {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	background-color: black;
	display: block;
	width: 1024px;
	height: 700px;
}

#cake {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

#card {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	background-color: pink;
	display: none;
	width: 1000px;
	height: 1000px;
}